@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans');

body {
	background: url("../images/pilatesmats.jpg");
	background-size: cover;
	
}
h1 {
	color: white;
	font-size: 90px;
	font-family: 'Lobster', cursive;
	text-align: center;
	margin-top: 420px;
	margin-bottom: 50px;
	
}

p {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	text-align: center;
	margin-left: 600px;
	margin-right: 600px;
	line-height: 2em	
}

ul {
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	list-style-type: none;
	font-weight: bold;
}

a{
	text-decoration: none;
	border-bottom: 1px solid white;
	color: white;
	margin-top: 200px;
}

